:root {
    --white-color: #FFFFFF;
    --green-color: #97ba45;
    --black-color: #444;
    --text-color: #777;
    --height-header: 70px

}

* {
    box-sizing: inherit;
    text-decoration: none;
}

body {
    overflow-x: hidden !important;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.form-control-xl {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border-radius: 10px;
}

.btn--big {
    font-size: 1.4rem;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.form-control-xl:focus {
    border-color: var(--green-color);
    box-shadow: 0 0 0 0.25rem rgba(12, 194, 27, 0.25);
}